.button {
  font-size: 1rem;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 2px;
  width: 100%;
  padding: 16px;
  color: rgba(0, 0, 0, 1);
  line-height: 1.25rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, .2);

  &_primary {
    font-size: 0.875rem;
    background-color: #ffde5a;
    padding: 8px 16px;
    line-height: 1.125rem;
    box-shadow: none;
  }

  &_disabled {
    background-color: rgba(220, 220, 220, 1);
  }
}
