.button {
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
  padding: 12px 16px;
  line-height: 24px;

  &_primary {
    background-color: rgba(255, 222, 90, 1);
    border: none;
  }

  &_disabled {
    background-color: rgba(220, 220, 220, 1);
  }
}
