.image {
  background-size: cover;
  background-position: center;

  &_small {
    width: 75vw;
    height: 120px;
  }

  &_medium {
    width: 100%;
    height: 120px;
  }

  &_large {
    width: 100vw;
    height: 50vh;
  }
}
