.image {
  position: relative;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 2;
  }

  &_small {
    width: 75vw;
    height: 152px;

    &::before {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
      z-index: 2;
    }
  }

  &_medium {
    width: 100%;
    height: 120px;

    &::before {
      background-color: rgba(0, 0, 0, 0.15);
      z-index: 2;
    }
  }

  &_large {
    width: 100vw;
    height: 50vh;
  }
}
