<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.yamblz.events" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Яндекс.События</name>
    <description>
        Приложение Яндекс.События для проекта "Мобилизация"
    </description>
    <author email="hello@Tamik.ru" href="http://Tamik.ru">
        Тамерлан Локьяев
    </author>
    <author href="http://github.com/cibry0nix">
        Балтабек Бекенов
    </author>
    <author href="http://github.com/Lunory">
        Ангелина Белокурая
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="portrait" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="19" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~6.2.3" />
    <engine name="browser" spec="^4.1.0" />
    <engine name="ios" spec="~4.4.0" />
    <plugin name="cordova-plugin-calendar" spec="^4.6.0">
        <variable name="CALENDAR_USAGE_DESCRIPTION" value="Чтобы вы могли добавлять события в свой календарь. :)" />
    </plugin>
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.2.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="yandex-appmetrica-plugin-cordova" spec="git+https://github.com/Tamik/metrica-plugin-cordova.git" />
    <plugin name="cordova-plugin-x-socialsharing" spec="^5.2.0" />
</widget>
