.card {
  flex-shrink: 0;
  color: #000;

  &_small {
    position: relative;
    margin-right: 16px;
  }

  &_medium {
    flex-grow: 1;
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  }

  &_large {

  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 12px;
    color: rgba(0, 0, 0, 0.7);
    background-color: #fff;

    &_small {
      position: absolute;
      bottom: 14px;
      left: 14px;
      padding: 0;
      background-color: transparent;
      color: #fff;
    }

    &_medium {
      justify-content: space-between;
      height: calc(100% - 176px);
    }
  }

  &__title {
    margin-bottom: 8px;
    font-weight: normal;
    text-decoration: none;

    &_small {
      margin-bottom: 4px;
      font-size: 1.5rem;
      line-height: 1.75rem;
      color: #fff;
    }

    &_medium {
      font-size: 1.125rem;
      color: #333333;
    }

    &_large {
      margin-bottom: 16px;
      font-size: 1.5rem;
      line-height: 1.75rem;
    }
  }

  &__text {
    &_bottom {
      margin-top: auto;

    }

    &_time {

    }

    &_place {

    }
  }
}
