.card {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 1);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
  animation: showUp 500ms ease-in-out;
  animation-fill-mode: forwards;
  transform: translate3d(0, 100px, 0);
  opacity: 0;

  &_medium {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &_large {}

  &__label {
    position: absolute;
    top: 14px;
    right: 14px;
    padding: 4px 8px;
    background-color: #ffde5a;
    color: rgba(0, 0, 0, 1);
    font-size: 0.75rem;
    line-height: 1rem;
    z-index: 3;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 1);
    padding: 12px 14px;
    color: #6e6e6e;
    z-index: 2;

    &_small {
      position: absolute;
      bottom: 16px;
      left: 16px;
      right: 16px;
      background-color: transparent;
      padding: 0;
      color: rgba(255, 255, 255, 1);
    }

    &_medium {
      justify-content: space-between;
    }

    &_large {
      padding: 16px;
    }
  }

  &__title {
    font-weight: 500;
    margin-bottom: 8px;
    text-decoration: none;

    &_small {
      font-size: 1.5rem;
      margin-bottom: 4px;
      line-height: 1.5rem;
      color: rgba(255, 255, 255, 1);
    }

    &_medium {
      font-size: 1.125rem;
      color: #333333;
    }

    &_large {
      font-size: 1.5rem;
      line-height: 1.75rem;
      color: rgba(0, 0, 0, 1);
    }
  }

  &__text {
    font-size: .9rem;
    opacity: .8;

    &_bottom {
      margin-top: auto;
    }
  }
}

@keyframes showUp {
  from {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
