.card {
  flex-shrink: 0;
  color: #000;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);

  &_small {
    position: relative;
    margin: 13px 10px;

    &:first-child {
      margin-left: 16px;
    }
  }

  &_medium {
    flex-grow: 1;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &_large {

  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 12px 14px;
    color: #6e6e6e;
    background-color: #fff;
    z-index: 2;

    &_small {
      position: absolute;
      bottom: 14px;
      left: 14px;
      right: 14px;
      padding: 0;
      background-color: transparent;
      color: #fff;
    }

    &_medium {
      justify-content: space-between;
      height: calc(100% - 176px);
    }

    &_large {
      padding: 16px;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 500;
    text-decoration: none;

    &_small {
      margin-bottom: 4px;
      font-size: 1.5rem;
      line-height: 1.6rem;
      color: #fff;
    }

    &_medium {
      font-size: 1.125rem;
      color: #333333;
    }

    &_large {
      font-size: 1.5rem;
      line-height: 1.75rem;
      color: #000;
    }
  }

  &__text {
    &_bottom {
      margin-top: auto;

    }
  }
}
