.card {
  color: #000;

  &_small {
    display: flex;
    font-size: 0.75rem;
  }

  &_medium {
    flex-shrink: 0;
    flex-grow: 1;
    width: 85vw;
    margin-right: 16px;
    font-size: 1.125rem;
  }

  &_large {

  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 16px;

    &_small {
      padding: 0;
      padding-left: 16px;
      padding-bottom: 16px;
    }

    &_medium {
      height: calc(100% - 176px);
      padding: 20px;
      background-color: #f2f2f2;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-weight: normal;
    text-decoration: none;

    &_small {
      font-size: 1.125rem;
      line-height: 1.25rem;
    }

    &_medium {
      font-size: 1.5rem;
    }

    &_large {

    }
  }

  &__text {
    margin-top: auto;

    &_time {

    }

    &_place {

    }
  }
}
