.botNav {
  display: flex;
  flex-shrink: 0;
  padding: 10px 0px 7px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.7);
  z-index: 2;

  &__item {
    flex-grow: 1;
    color: #333333;
    font-size: 0.6875rem;
    line-height: 0.8125rem;
    text-align: center;

    & > svg {
      display: block;
      margin: auto;
      margin-bottom: 6px;
    }
  }
}
