.board {
  &__wrap {
    height: 100vh;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    padding: 64px 16px 44px;
    text-align: center;
  }

  &__image {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__text {
    margin-top: auto;
    font-size: 1.25rem;
    line-height: 1.375rem;
    margin-bottom: 47px;
    color: #000;
  }

  &__btn {
    flex-shrink: 0;
    padding: 14px;
    color: #2a3034;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    background-color: #ffde5a;
    border: none;
    border-radius: 2px;
  }
}
