.Avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-right: 20px;

  &__img {
    background-color: #cecece;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 128px;
    width: 128px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
  }

  &__description {
    margin-top: 4px;
    color: #333;
  }

  &__title {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  &__text {
    font-size: 0.875rem;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, .7);
    line-height: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
