.avatar {
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
  background-position: center;

  &_small {
    width: 64px;
    height: 64px;
  }

  &__text {
    margin-top: 8px;
    color: #000;
    font-size: 0.75rem;
    text-align: center;
  }
}
