.slideCard {
  flex-shrink: 0;
  color: #000;
  box-shadow: 0 4px 16px rgba(0, 0, 0, .2);

  &_small {
    width: 70vw;
    position: relative;
  }

  &_medium {
    width: 85vw;
    box-sizing: border-box;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: #fff;
  }

  &_large {}

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 1);
    padding: 12px 14px;
    color: #6e6e6e;
    z-index: 2;

    &_small {
      position: absolute;
      bottom: 14px;
      left: 14px;
      right: 14px;
      background-color: transparent;
      padding: 0;
      color: rgba(255, 255, 255, 1);
    }

    &_medium {
      justify-content: space-between;
      // height: calc(100% - 176px);
    }

    &_large {
      padding: 16px;
    }
  }

  &__title {
    font-weight: 500;
    margin-bottom: 8px;
    text-decoration: none;

    &_small {
      font-size: 1.2rem;
      margin-bottom: 4px;
      line-height: 1.25rem;
      color: rgba(255, 255, 255, 1);
    }

    &_medium {
      font-size: 1.125rem;
      color: #333333;
    }

    &_large {
      font-size: 1.5rem;
      line-height: 1.75rem;
      color: rgba(0, 0, 0, 1);
    }
  }

  &__text {
    font-size: .9rem;
    opacity: .8;

    &_bottom {
      margin-top: auto;
    }
  }
}
