.card {
  padding: 20px;
  padding-bottom: 118px;
  background-color: #1e1367;
  color: #fff;

  &:nth-child(2n) {
    background-color: #233680;
  }

  &__title {
    margin-bottom: 4px;
    font-size: 1.25rem;
  }

  &__time {
    margin-bottom: 26px;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.7);
  }

  &__text {
    margin-bottom: 8px;
    font-size: 1rem;
    line-height: 1.375rem;
  }

  &__label {
    display: inline-block;
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 0.875rem;
    background-color: rgba(255, 255, 255, 0.1);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
