/*
  @todo: Лина, удалить, если не используются эти стили
*/

.filter_date{
  display: inline-block;
  font-size: 14px;
  border-radius: 36px;
  padding: 8px 16px;
  margin-right: 12px;
  background: #ededed;
  &__active{
    background: #ffde5a;
    color: #000;
  }
}


.events-list{
  &__item{
    margin: 16px 0;
    padding: 16px 0;
    display: flex;
    border-bottom: 1px solid #ccc;
    &-title{
      font-weight: bold;
      font-size: 1em;
    }
  }
}

.card{
  &-small{
    &__image-wrap{
      width: 120px;
      height: 120px;
    }
    &__meta{
      padding-left: 16px;
    }
  }
}

.image-fit-wrap{
  &__image-fitted{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

