.topBar {
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 30px;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

  &_transparent {
    position: fixed;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
    z-index: 3;
  }

  &__title {
    flex-grow: 1;
    padding-right: 20px;
    padding-left: 4px;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.05rem;
    color: #000;
  }

  &__icon {

  }
}
