.topBar {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 38px 30px 14px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
  background-color: #fff;
  z-index: 3;

  &_transparent {
    position: fixed;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent);
    box-shadow: none;
    z-index: 3;
  }

  &__title {
    flex-grow: 1;
    font-size: 1.25rem;
    font-weight: 500;
    padding-right: 4px;
    padding-left: 4px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
  }

  &__icon {
    background-color: transparent;
    border: none;
  }
}
