.button {
  flex-shrink: 0;
  color: #3d327c;
  font-size: 1rem;
  text-align: left;
  border: none;
  background-color: transparent;
}

.text {
  font-size: 1rem;
  line-height: 1.375rem;
  color: #000;

  & * {
    color: #000;
  }
}
