.tabs {
  display: flex;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
  padding: 46px 10px 0;
  overflow-y: auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
  z-index: 2;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__item {
    flex-grow: 1;
    font-size: 0.87rem;
    color: rgba(0, 0, 0, .6);
    padding: 0 10px 14px;
    text-align: center;

    &:last-child {
      padding-right: 16px;
    }

    &_active {
      position: relative;
      color: #000;

      &::after {
        content: "";
        position: absolute;
        right: 10px;
        left: 10px;
        bottom: 0;
        height: 3px;
        background-color: #1e1367;
      }
    }
  }
}

