.tabs {
  display: flex;
  flex-shrink: 0;
  padding: 0 10px;
  padding-top: 46px;
  background-color: #fff;
  overflow-y: auto;
  z-index: 2;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__item {
    flex-grow: 1;
    margin: 0 10px;
    padding-bottom: 14px;
    text-align: center;
    font-size: 0.87rem;
    letter-spacing: 0.05rem;
    color: rgba(0, 0, 0, 0.6);

    &:last-child {
      margin-right: 0;
    }

    &_active {
      color: #000;
      box-shadow: inset 0 -3px 0 -1px #1e1367;
    }
  }
}

