.tabs {
  display: flex;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
  padding-top: 38px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
  z-index: 3;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__item {
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 1rem;
    padding: 0 0 14px 16px;
    color: rgba(0, 0, 0, .6);
    text-align: center;
    line-height: 1.25rem;

    &:first-child {
      padding-left: 16px;
    }

    &:last-child {
      padding-right: 16px;
    }

    &_active {
      position: relative;
      color: #000;

      &::after {
        position: absolute;
        right: 0;
        left: 16px;
        bottom: 0;
        background-color: #1e1367;
        height: 2px;
        content: "";
      }
    }
  }
}

