.list {
  &__wrap {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 1rem;
    line-height: 1.25rem;
    color: #333333;
    margin-left: 16px;
    margin-bottom: 12px;
    font-weight: 600;
  }
}

.carousel_animate {
  transform: translate3d(0, 100px, 0);
  animation: containerShowUp 250ms ease-in-out;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}

@keyframes containerShowUp {
  from {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
