.card {
  display: flex;
  position: absolute;
  bottom: 58px + 56px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  // height: 128px;
  margin: 0 16px;
  padding: 10px;
  color: rgba(0, 0, 0, 1);
  box-shadow: 0 4px 16px rgba(0, 0, 0, .3);
  z-index: 5;

  &__label {
    position: absolute;
    top: 14px;
    right: 14px;
    padding: 4px 8px;
    background-color: #ffde5a;
    color: #000;
    font-size: 0.75rem;
    line-height: 1rem;
    z-index: 3;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    // padding: 16px;
    padding: 0;
    padding-left: 12px;
    // padding-bottom: 16px;
  }

  &__title {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 8px;
    text-decoration: none;
    line-height: 1rem;
    min-width: 120px;
  }

  &__text {
    margin-top: auto;
    opacity: .5;
  }
}
