.card {
  position: relative;
  display: flex;
  font-size: 0.75rem;
  background-color: white;
  color: #000;
  padding: 16px;
  margin-right: 16px;
  vertical-align: bottom;

  &__label {
    position: absolute;
    top: 14px;
    right: 14px;
    padding: 4px 8px;
    background-color: #ffde5a;
    color: #000;
    font-size: 0.75rem;
    line-height: 1rem;
    z-index: 3;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    // padding: 16px;
    padding: 0;
    padding-left: 16px;
    padding-bottom: 16px;
  }

  &__title {
    font-size: 0.8rem;
    font-weight: normal;
    margin-bottom: 8px;
    text-decoration: none;
    line-height: 1rem;
    min-width: 120px;
  }

  &__text {
    margin-top: auto;
    opacity: .5;
  }
}
