.mapCard {
  position: absolute;
  bottom: 58px;
  left: 16px;
  right: 16px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  margin: 0 auto;
  color: rgba(0, 0, 0, 1);
  box-shadow: 0 4px 16px rgba(0, 0, 0, .3);
  z-index: 5;

  &__label {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px 8px;
    background-color: #ffde5a;
    color: #000;
    font-size: 0.75rem;
    line-height: 1rem;
    z-index: 3;
  }
  &__info {
    padding: 12px;
  }

  &__title {
    margin-bottom: 8px;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
    line-height: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    position: absolute;
    top: 16px;
    left: 10px;
    right: 100px;
    font-size: 0.875rem;
    font-weight: 500;
    color: #fff;
    z-index: 3;
  }
}
