.slider_animate {
  transform: translate3d(0, 100px, 0);
  animation: containerShowUp 250ms ease-in-out;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}

@keyframes containerShowUp {
  from {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
