.carousel {
  width: calc(100% - 16px);
  margin-left: 16px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  & > div {
    display: flex;
    flex-wrap: nowrap;
  }
}
